[submodule "commander"]
	path = commander
	url = https://github.com/clibs/commander
[submodule "hat-trie"]
	path = hat-trie
	url = https://github.com/dcjones/hat-trie
[submodule "luarure"]
	path = luarure
	url = https://github.com/Erutuon/luarure.git
[submodule "lutf8proc"]
	path = lutf8proc
	url = https://github.com/Erutuon/lutf8proc
